body {
  background-image: url(../img/fundo.jpg); /* Caminho da imagem */
  background-size: cover; /* Faz a imagem cobrir o fundo */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita repetição */
  min-height: 100vh;
  margin: 0;
  padding: 0;
  height: 100%;
}

@media (max-width: 768px) {
  body {
    background-size: contain; /* Ajusta a imagem para caber dentro da tela */
  }
}

h1 {
  color: #032e57;
  font-size: 40px;
  position: relative; /* Posiciona o nome */
}

.imagem {
    float: right; 
    margin-left: 20px; 
    border-radius: 50%; 
    width: 550px; 
    height: auto; 
}


h1, h2, h3, h4, h5, h6 {
    color: #032e57;
    font-size: 30px;
}
h1 {
    font-size: 40px;
}

ul{
   color: #12577b;
}

